@import "./base";

.CorporatePage {
  height: $page-height;
  background: linear-gradient(
    0deg,
    rgba(34, 32, 33, 1) 0%,
    rgba(124, 118, 118, 1) 100%
  );

  h1 {
    margin: 0;
    color: white;
  }
}
